body {
  padding: 0;
  margin: 0;
}
main {
  border: 5px solid grey;
  border-radius: 15px;
  background-color: #DDF;
  padding: 30px;
  width: 450px;
  margin: 30px auto;
}
header, footer {
  text-align: center;
}
h1 {
  font-size: 300%;
  margin: 10px;
}
p {
  font-family: monospace;
}
#frame {
  padding: 30px;
  background-color: gold;
  border: 10px ridge brown;
  margin: 10px auto;
  height: 310px;
  width: 310px;
}
img {
  height: 310px;
  width: 310px;
  border: 1px solid brown;
}
button {
  margin: 15px;
  padding: 10px;
  font-size: 120%;
  font-weight: 900;
  border: 5px double green;
  border-radius: 5px;
  background-color: chartreuse;
}
details {
  text-align: left;
  margin: -3px 0;
}
summary {
  font-size: 75%;
}